*{
  padding: 0;
  margin: 0;
}

body{
  font-family:sans-serif;
  color: #272626;
  border-top:  10px solid #ff8e24;
  position: relative;
} 
   /* container */

.container{
  width: 1200px;
  margin: 0 auto;
}

.main-header{
  background-color:#f0f0f0;
  padding: 20px 30px ;
  /* margin-bottom: 60px ; */
}
 
nav {
  /* text-aling:center; */
  font-size: 18px ;
}

/* article {

  margin-bottom: 60px ;

} */

.dublicate{
margin-bottom: 40px ;
}

aside{
  background-color:#efe2e200;
  border-top: 4px solid #ff8e24;
  border-bottom: 5px solid #ff8e24; 
  padding: 50px 40px;
}
 
    /* SIMILER ELEMENTS */

h1,
h2, 
h3,
h4 {
  color: #809114 ;
}
h1{
   
   font-size: 40px ;
   font-style: italic ;
   text-transform: uppercase ;
}

h2{
    font-size: 38px  ;
    /* text-transform:uppercase; */
    margin-bottom: 30px;
}
/* 
.potter{
  font-size: 15px ;
  font-style: italic;
} */

h3{
   font-size: 30px ;
   /* text-transform:uppercase; */
   margin-bottom: 20px ;
   margin-top: 40px ;
}

h4{
  font-size: 24px ;
  text-transform:uppercase;
  text-align:center;
  margin-bottom: 25px;
}


/* This Is Example Of Pseudo-Element */

/* h1::first-letter {
   font-style: normal; 
   margin-right: 5px; 
*/

h2{
  position: relative;
  /* background-color: orange; */
}

h2::before{
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -49px;
}


p{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul, ol{
  margin-left: 50px ;
  margin-bottom: 20px ;
}

li {
  font-size:15px;
  margin: 10px ;
  font-weight:bold;
}
 
footer p{font-size:15px;}


.related-author {
  /* font-size: 10px; */
  font-weight: bold;
}

.related{
  list-style: none;
  margin-left: 0;
}

/* li:first-child {
  font-weight:bold;
} */

/* li:last-child {
font-style:italic;
} */

/* li:nth-child(2) {
  color: red;
} */

/* li:nth-child(4) {
  color: rgb(0, 204, 255);
} */
/* li:nth-child(odd){
  color: blue;
} */

/* pseudo */
a:link{
  color: rgb(12, 105, 255);
  text-decoration: none ;
}

a:visited{
/* color: #444; */
color: rgb(12, 105, 255);
}

a:hover{
  color: rgb(255, 29, 29);
  text-decoration: underline rgb(255, 30, 30);
  font-weight: bold;
}

a:active{
  color:black ;
  font-style: italic;
}

    /* LVHA */

 /* This Is Example Of Dimension */

    .gym{
      width: 100% ;
      height: auto ;
    }

    nav a:link{
       /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
    }

    nav a:link:last-child {
      margin-right: 0;
    }

     button{
      font-size: 22px;
      padding: 20px;
      cursor: pointer;
    
      position: absolute;
       /* top: 50px; */
      right: 50px;
      bottom: 50px;
      /* left: 50px; */
     }

         /* FLOAT */
    
     .potter-img{
         float: left;
         margin-bottom: 20px;
     }

     .potter{
        float: left;
        margin-left: 15px;
        margin-top: 20px;
     }

     h1{
      float: left;
     }

     nav{
      float:right;
     }

     /* .clearfix::after{
       clear: both;
       content: '' ;
       display: block ;
     } */

     /* article{
      float: left ;
      width: 825px;
    } */

    /* aside {
     float: right;
     width: 300px;
    } */

    /* footer p{
     clear: both ;
     font-size:16px;
     /* background-color: #ff8e24; */
  
       /* FLEX */
/* .row{
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}  

 article {
flex: 1;
margin-bottom: 0;
 } 
 
 aside {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
flex: 0 0 300px;
 } */

     /* CSS-GRID */
  .container{
     display:grid;
     grid-template-columns: 1fr 300px ;
     row-gap: 60px ;
     column-gap: 75px ;
     align-items: start;
   }

  .main-header {
     /* grid-column: 1 /span 2 ; */
     grid-column: 1 /-1 ;
   }

     footer {
      grid-column: 1 /-1 ;
     }